<div class="row">
  <div class="col-md-10 m-auto">
    <div class="card card-body">
      {{!-- select --}}
      <div class="row ml-2">
        <div class="col-7 col-sm-8">
          <div class="form-group">
            <select name="index-type-list" id="list" class="form-control" style="font-size: 1em;">
              <option value="#" selected disabled>請選擇</option>
              <option value="home">家居物業</option>
              <option value="shuttle-van">交通出行</option>
              <option value="grin-beam">休閒娛樂</option>
              <option value="utensils">餐飲食品</option>
              <option value="pen">其他</option>
            </select>
          </div>
        </div>
      </div>

      {{!-- total expense --}}
      <div class="row">
        <div class="col-7 col-sm-8">
          <div class="div-expense d-flex flex-row justify-content-center">
            <p>總金額：</p><span class="total-expense">{{{count}}}</span>
          </div>
        </div>
      </div>

      {{!-- list --}}
      <div class="list-group">
        <ul class="index-ul">
          {{#each records}}
          <li class="index-icons">
            <div class="row  align-items-center">
              <div class="col-7 col-sm-8 item-prepend">
                <div class="d-flex flex-row align-items-center">
                  <i class="fas fa-{{{this.category}}} col-2 px-0"></i>
                  <div class="d-flex flex-column col-6">
                    <big>{{{this.name}}}</big>
                    <small>{{{this.date}}}</small>
                  </div>
                  <span class="col-4 text-right"> {{{this.amount}}}</span>
                </div>
              </div>
              <div class="col-5 col-sm-4">
                <div class="d-flex flex-row justify-content-end ">
                  <a href="/expense/{{{this._id}}}/edit" class="btn btn-warning mr-1">Edit</a>
                  <form action="/expense/{{{this._id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>

      <div class="row">
        <div class="col-7 col-sm-8 ml-4">
          <a href="/expense/new" class="btn btn-outline-warning px-5">Create</a>
        </div>
      </div>

    </div>
  </div>
</div>